<app-nav></app-nav>
<div class="container mt-5">
  <h2 class="text-center mb-4">Las series de anime más populares</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="assets/Naruto.png" class="card-img-top" alt="Anime 1">
        <div class="card-body">
          <h5 class="card-title">Naruto</h5>
          <p class="card-text">Un joven ninja con una gran ambición busca convertirse en el Hokage, el líder de su aldea.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/Shingeky.png" class="card-img-top" alt="Anime 2">
        <div class="card-body">
          <h5 class="card-title">Attack on Titan</h5>
          <p class="card-text">La humanidad lucha por sobrevivir en un mundo asediado por gigantes humanoides conocidos como titanes.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/MyHero.png" class="card-img-top" alt="Anime 3">
        <div class="card-body">
          <h5 class="card-title">My Hero Academia</h5>
          <p class="card-text">En un mundo donde casi todos tienen superpoderes, un joven sin habilidades sueña con convertirse en un héroe.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/Deaht.png" class="card-img-top" alt="Anime 4">
        <div class="card-body">
          <h5 class="card-title">Death Note</h5>
          <p class="card-text">Un estudiante de secundaria encuentra un cuaderno que le permite matar a cualquier persona solo escribiendo su nombre.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/OnePiece.png" class="card-img-top" alt="Anime 5">
        <div class="card-body">
          <h5 class="card-title">One Piece</h5>
          <p class="card-text">Un grupo de piratas navega por un vasto océano en busca del tesoro legendario conocido como One Piece.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/Fullmetal.png" class="card-img-top" alt="Anime 6">
        <div class="card-body">
          <h5 class="card-title">Fullmetal Alchemist</h5>
          <p class="card-text">Dos hermanos usan la alquimia en busca de la piedra filosofal para restaurar sus cuerpos después de un experimento fallido.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/swort.png" class="card-img-top" alt="Anime 7">
        <div class="card-body">
          <h5 class="card-title">Sword Art Online</h5>
          <p class="card-text">Jugadores quedan atrapados en un juego de realidad virtual y deben luchar por su supervivencia en un mundo digital.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/cowboy.png" class="card-img-top" alt="Anime 8">
        <div class="card-body">
          <h5 class="card-title">Cowboy Bebop</h5>
          <p class="card-text">Un grupo de cazadores de recompensas viaja por el espacio en busca de criminales mientras enfrenta su propio pasado.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/Steins.png" class="card-img-top" alt="Anime 9">
        <div class="card-body">
          <h5 class="card-title">Steins;Gate</h5>
          <p class="card-text">Un grupo de amigos descubre cómo enviar mensajes al pasado y se involucra en una conspiración que amenaza con cambiar el futuro.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/Neon.png" class="card-img-top" alt="Anime 10">
        <div class="card-body">
          <h5 class="card-title">Neon Genesis Evangelion</h5>
          <p class="card-text">En un mundo post-apocalíptico, adolescentes pilotan robots gigantes para proteger a la humanidad de seres extraterrestres.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
