<div class="container mt-5">
  <div class="summary-container p-4 bg-dark rounded shadow">
    <h2 class="text-center text-light">Resumen de la Página</h2>
    <p class="text-light">
      Esta página es un recurso valioso para los amantes del anime, donde puedes explorar las series y películas de anime más populares. Aquí, encontrarás descripciones de las tramas y temas centrales de cada título, lo que te ayudará a elegir qué ver a continuación. Además, ofrecemos recomendaciones basadas en las tendencias actuales y los gustos de otros aficionados al anime.
    </p>
    <p class="text-light">
      Sumérgete en el fascinante mundo del anime, desde emocionantes aventuras en tierras mágicas hasta intensas batallas contra criaturas míticas. Nuestro objetivo es brindar un espacio donde tanto los veteranos como los nuevos espectadores puedan descubrir y disfrutar de las maravillas del anime.
    </p>
    <p class="text-light">
      Esperamos que disfrutes tu experiencia en nuestra página y encuentres nuevas series o películas que te cautiven.
    </p>
  </div>
</div>
