<app-nav></app-nav>
<div class="container mt-5">
  <h2 class="text-center mb-4">Las películas de anime más populares</h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="assets/Name.png" class="card-img-top" alt="Película 1">
        <div class="card-body">
          <h5 class="card-title">Your Name</h5>
          <p class="card-text">Dos adolescentes intercambian cuerpos y buscan encontrarse a través del tiempo y el espacio.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/spi.png" class="card-img-top" alt="Película 2">
        <div class="card-body">
          <h5 class="card-title">Spirited Away</h5>
          <p class="card-text">Una joven queda atrapada en un mundo de espíritus y debe trabajar en un baño público para encontrar el camino a casa.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/Akira.png" class="card-img-top" alt="Película 3">
        <div class="card-body">
          <h5 class="card-title">Akira</h5>
          <p class="card-text">En un futuro distópico, un adolescente desarrolla poderes psíquicos que amenazan con destruir la ciudad de Neo-Tokyo.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/Princess.png" class="card-img-top" alt="Película 4">
        <div class="card-body">
          <h5 class="card-title">Princess Mononoke</h5>
          <p class="card-text">Un joven guerrero se ve envuelto en un conflicto entre humanos y seres espirituales que protegen la naturaleza.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/Totoro.png" class="card-img-top" alt="Película 5">
        <div class="card-body">
          <h5 class="card-title">My Neighbor Totoro</h5>
          <p class="card-text">Dos hermanas descubren criaturas mágicas mientras se mudan al campo para estar cerca de su madre enferma.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/Grave.png" class="card-img-top" alt="Película 6">
        <div class="card-body">
          <h5 class="card-title">Grave of the Fireflies</h5>
          <p class="card-text">La desgarradora historia de dos hermanos que luchan por sobrevivir durante la Segunda Guerra Mundial.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/Ghos.png" class="card-img-top" alt="Película 7">
        <div class="card-body">
          <h5 class="card-title">Ghost in the Shell</h5>
          <p class="card-text">Una cyborg policía intenta detener a un hacker que amenaza la seguridad en un futuro cibernético.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/Perfect.png" class="card-img-top" alt="Película 8">
        <div class="card-body">
          <h5 class="card-title">Perfect Blue</h5>
          <p class="card-text">Una ex ídolo pop se enfrenta a la obsesión de un acosador y a su propia pérdida de identidad mientras intenta ser actriz.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/TheG.png" class="card-img-top" alt="Película 9">
        <div class="card-body">
          <h5 class="card-title">The Girl Who Leapt Through Time</h5>
          <p class="card-text">Una adolescente descubre que puede viajar en el tiempo y utiliza su poder para arreglar problemas de su vida.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="assets/Wea.png" class="card-img-top" alt="Película 10">
        <div class="card-body">
          <h5 class="card-title">Weathering With You</h5>
          <p class="card-text">Un joven huye a Tokio y conoce a una chica que tiene el poder de controlar el clima.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
